html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  min-height: 100%;
  background-color: black;
  background-image: url("./assets/images/css_background.gif"); 
  background-size: contain;
}