body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* 100% of the viewport height */
  background-color: black;
  background-image: url("assets/images/css_background.gif"); 
  background-size: contain;
}